@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
