// colors
$primary: #0b0d17;
$secondary: #d0d6f9;
$neutral: #ffffff;
$neutralOp50: rgba(255, 255, 255, 50%);

//typography
@mixin bellefair($size, $weight, $height) {
  font-family: "Bellefair", serif;
  font-size: #{$size}rem;
  font-weight: $weight;
  line-height: $height;
}

@mixin barlow-c($size, $weight, $height) {
  font-family: "Barlow Condensed", sans-serif;
  font-size: #{$size}rem;
  font-weight: $weight;
  line-height: $height;
}

@mixin barlow($size, $weight, $height) {
  font-family: "Barlow", sans-serif;
  font-size: #{$size}rem;
  font-weight: $weight;
  line-height: $height;
}

// others
@mixin icons-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
